<%# チャンネル一覧ページ Start %>
<div class = "channel-index" >
  <div class ="channel-index-title">
    チャンネルを選択してください
  </div>
  <div class ="channel-index-lists">

    <%# 所属しているチャンネルがなかった場合 Start %>
    <% if @channels.empty? %>
      <div class = "channel-index-empty">
        <div class = "channel-index-empty-text">
          登録されているチャンネルがありません。右下の＋ボタンから新規で作成するか、チャンネルの管理者にあなたを登録いただくようお願いいたします。
        </div>
      </div>
    <%# 所属しているチャンネルがなかった場合 End %>

    <%# 所属しているチャンネルがあった場合 Start %>
    <% else %>
      <% @channels.each do |channel| %>
        <div class ="channel-index-list">
          <%= image_tag(channel.channel_main_image, class:"channel-index-list-image") if channel.channel_background_image.attached? %>
          <div class ="channel-index-list-title">
            <%= channel.name %>
          </div>
        </div>

        <%# チャンネル一覧ページ チャンネルログイン モーダル Start %>
        <div class="overlay"></div>
        <div class= "modal" id = "modal-channel-login" >
          <div class= "modal-back">
            ×
          </div>
          <div class= "modal-box">
            <%= form_with model: @session, url:sessions_path, local: true, method: :post do |f| %>
              <%= f.hidden_field :channel_id, value: channel.id %>
              <div class ="modal-box-title">
                <%= channel.name %>
              </div>
              <div class ="modal-box-field">
                <div class ="modal-box-field-label">
                  ID
                </div>
                <%= f.text_field:identification, placeholder: "IDを入力してください", class:"modal-box-field-string" %>
              </div>
              <div class ="modal-box-field">
                <div class ="modal-box-field-label">
                  パスワード
                </div>
                <%= f.password_field:password, placeholder: "パスワードを入力してください" ,class:"modal-box-field-string"%>
              </div>
              <%= f.submit "参加する" ,class:"modal-box-submit"%>
            <% end %>
          </div>
        </div>
        <%# チャンネル一覧ページ チャンネルログイン モーダル End %>
        
      <% end %>
    <% end %>
    <%# 所属しているチャンネルがあった場合 End %>

  </div>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete ,class:"channel-index-empty-logout"%>
  <%= link_to '+' ,new_channel_path ,class:"channel-index-new" %>
</div>
<%# チャンネル一覧ページ End %>