<%# 新規チャンネル作成 Start %>
<div class = "form-center">

  <%# 新規チャンネル作成フォーム Start %>
  <%= form_with model:@channel, local: true do |f| %>
    
    <%# 新規チャンネル作成フォーム ヘッダー Start %>
    <div class ="form-back">
      <%= link_to '< 戻る', root_path, class:"form-back-text" %>
    </div>
    <div class ="form-title-center">
    チャンネル　新規作成
    </div>
    <%# 新規チャンネル作成フォーム ヘッダー End %>

    <%# 新規チャンネル作成フォーム エラー Start %>
    <div class = "form-error-center">
      <%= render 'shared/error_messages', resource: @channel %>
    </div>
    <%# 新規チャンネル作成フォーム エラー End %>

    <%# 新規チャンネル作成フォーム 画像・名前 Start %>
    <div class= "form-beside">
      <div class="form-beside-field">
        <% f.label :channel_main_image,class:"form-field-label" %>
        <div class = "form-field-firstimage">
          <%= f.file_field :channel_main_image, class:"form-field-firstimage-image" %>
          <span class="form-field-firstimage-custom", id="channel-main-image"></span>
          <%= image_tag 'channel/index/photo-button.png',class:"form-field-firstimage-button" %>
        </div>
      </div>
      <div class="form-beside-field">
        <%= f.label :name, "チャンネル名",class:"form-field-label" %><br />
        <%= f.text_field :name, placeholder:"チャンネル名を入力してください", autofocus: true, autocomplete: "name",class:"form-field-string-name" %>
      </div>
    </div>
    <%# 新規チャンネル作成フォーム 画像・名前 End %>

    <%# 新規チャンネル作成フォーム その他 Start %>
    <div class = "form-vertical">
      <div class = "form-vertical-field">
        <%= f.label :identification, "ID",class:"form-field-label" %>
        <%= f.text_field :identification, placeholder:"IDを入力してください", autocomplete: "identification", class:"form-field-string" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :password, "パスワード",class:"form-field-label" %>
        <%= f.password_field :password, placeholder:"パスワードを入力してください", autocomplete: "new-password", class:"form-field-string" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :password_confirmation, "確認用",class:"form-field-label" %>
        <%= f.password_field :password_confirmation, placeholder:"確認のため、もう一度パスワードを入力してください", autocomplete: "new-password", class:"form-field-string" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :channel_background_image, "背景画像",class:"form-field-label" %>
        <div class = "form-field-secondimage">
          <%= f.file_field :channel_background_image, class:"form-field-secondimage-image" %>
          <span class="form-field-secondimage-custom", id="channel-backgroundimage-image"></span>
          <%= image_tag 'channel/index/photo-button.png',class:"form-field-secondimage-button" %>
        </div>
      </div>
      <div class="form-vertical-field">
        <%= f.label :introduction, "紹介文",class:"form-field-label" %>
        <%= f.text_area :introduction, placeholder:"紹介文を入力してください", autocomplete: "profile",class:"form-field-text" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :administrator, "管理者",class:"form-field-label" %>
        <div class = "form-field-users">
          <% @users.each do |administrator| %>
            <div class="form-field-user">
              <%= check_box_tag 'administrators[]', administrator.id, false, class: "form-field-user-check", id: "administrator_#{administrator.id}" %>
                <%= image_tag administrator.profile_image.presence || 'common/noimage.png', class:"form-field-user-image" %>
              <%= label_tag "administrator_#{administrator.id}", administrator.name, class: "form-field-user-name" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-vertical-field">
        <%= f.label :user, "参加者",class:"form-field-label" %>
        <div class = "form-field-users">
          <% @users.each do |user| %>
            <div class="form-field-user">
              <%= check_box_tag "users[]", user.id, false, class: "form-field-user-check", id: "user_#{user.id}" %>
                <%= image_tag user.profile_image.presence || 'common/noimage.png', class:"form-field-user-image" %>
              <%= label_tag "user_#{user.id}", user.name, class: "form-field-user-name" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%# 新規チャンネル作成フォーム その他 End %>

    <%# 新規チャンネル作成フォーム アクション Start %>
    <div class="form-action">
      <%= f.submit "作成する",class:"form-action-submit"%>
    </div>
    <%# 新規チャンネル作成フォーム アクション End %>

  <% end %>
  <%# 新規チャンネル作成フォーム End %>

</div>
<%# 新規チャンネル作成 End %>