<%# チャンネル ログアウト モーダル Start %>
<%= render "shared/channel_left_modal" %>
<%# チャンネル ログアウト モーダル End %>

<%# チャンネル 共通 Start %>
<div class = "channel">

  <%# チャンネル ナビゲーション Start %>
  <%= render "shared/channel_left" %>
  <%# チャンネル ナビゲーション End %>

  <%# チャンネル詳細ページ  Start %>
  <div class = "channel-right">
    <div class = "channel-show">

      <%# チャンネル詳細ページ ヘッダー Start %>
      <div class = "channel-show-top">
        <%= image_tag @channel.channel_background_image.presence || 'common/noimage.png', class:"channel-show-top-background" %>
        <div class ="channel-show-top-channel">
          <%= image_tag @channel.channel_main_image.presence || 'common/noimage.png' ,class: "channel-show-top-channel-image" %>
          <div class ="channel-show-top-channel-name">
            <%= @channel.name %>
          </div>
          <div class= "channel-show-top-channel-id">
            <%= @channel.identification %>
          </div>
        </div>
        <% if @channel.administrators.include?(current_user) %>
          <%= link_to "編集", edit_channel_path(@channel.id) ,class:"channel-show-top-channel-edit" %>
        <% end %>
      </div>
      <%# チャンネル詳細ページ ヘッダー End %>

      <%# チャンネル詳細ページ 各コンテンツ一覧 Start %>
      <div class ="channel-show-buttom">
        <div class ="channel-show-buttom-profile">
          <%= image_tag 'channel/index/profile.svg',class:"channel-show-buttom-profile-image" %>
          <div class = "channel-show-buttom-profile-content">
            <div class = "channel-show-buttom-title">
              紹介文
            </div>
            <div class ="channel-show-buttom-text">
              <%= @channel.introduction %>
            </div>
          </div>
        </div>
        <div class ="channel-show-buttom-administrator">
          <div class ="channel-show-buttom-title">
            管理者
          </div>
          <ul class = "channel-show-buttom-users">
            <% @administrators.each do |administrator| %>
              <li class ="channel-show-buttom-user">
                <%= link_to user_path(administrator) do %>
                  <%= image_tag administrator.profile_image.presence || 'common/noimage.png', class:"channel-show-buttom-user-image" %>
                  <div class ="channel-show-buttom-user-name">
                    <%= administrator.name %>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class ="channel-show-buttom-participant">
          <div class ="channel-show-buttom-title">
            参加者
          </div>
          <ul class = "channel-show-buttom-users">
            <% @channel_users.each do |user| %>
              <li class ="channel-show-buttom-user">
                <%= link_to user_path(user.user.id) do %>
                  <%= image_tag user.user.profile_image.presence || 'common/noimage.png', class:"channel-show-buttom-user-image" %>
                  <div class ="channel-show-buttom-user-name">
                    <%= user.user.name %>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class ="channel-show-buttom-event">
          <div class ="channel-show-buttom-title">
            イベント
          </div>
          <ul class ="channel-show-buttom-event-lists">
            <% @events.each do |event| %>
              <%= link_to channel_event_path(@channel,event) do %>
                <li class ="channel-show-buttom-event-list">
                  <div class ="channel-show-buttom-event-list-date">
                    <%= event.date_start.strftime('%Y年%m月%d日') + '(' + %w(日 月 火 水 木 金 土)[event.date_start.wday] + ')' %>
                  </div>
                  <div class ="channel-show-buttom-event-list-name">
                    <%= event.name %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class ="channel-show-buttom-topics">
          <div class ="channel-show-buttom-title">
            News&Topics
          </div>
          <ul class ="channel-show-buttom-topics-lists">
            <% @topics.each do |topic| %>
              <li class ="channel-show-buttom-topics-list">
                <div class ="channel-show-buttom-topics-list-left">
                  <%= image_tag topic.channel_user.user.profile_image.presence || 'common/noimage.png', class:"channel-show-buttom-topics-list-left-image" %>
                </div>
                <div class ="channel-show-buttom-topics-list-right">
                  <div class ="channel-show-buttom-topics-list-right-top">
                    <div class ="channel-show-buttom-topics-list-right-top-name">
                      <%= topic.channel_user.user.name %>
                    </div>
                    <div class ="channel-show-buttom-topics-list-right-top-time">
                      <%= topic.created_at.strftime('%Y年%m月%d日') + '(' + %w(日 月 火 水 木 金 土)[topic.created_at.wday] + ')' %>
                    </div>
                  </div>
                  <div class ="channel-show-buttom-topics-list-right-center">
                    <div class ="channel-show-buttom-topics-list-right-center-title">
                      <%= topic.title %>
                    </div>
                    <% if topic.channel_user.user == current_user %>
                      <div class ="channel-show-buttom-topics-list-right-center-actions">
                        <%= link_to "編集", edit_channel_topic_path(@channel.id, topic) ,class:"channel-show-buttom-topics-list-right-center-actions-edit" %>
                        <div class ="channel-show-buttom-topics-list-right-center-actions-delete">
                          削除
                        </div>

                        <%# チャンネル詳細ページ チャンネル削除 モーダル Start %>
                        <div class ="modal" id="modal-show-topics-delete">
                          <div class= "modal-box">
                            <div class ="modal-box-title">
                              本当に削除しますか？
                            </div>
                            <div class ="modal-actions">
                              <%= link_to 'Yes', channel_topic_path(@channel.id,topic), data: { turbo_method: :delete }, class:"modal-actions-y" %>
                              <div class ="modal-actions-n">
                                No
                              </div>
                            </div>
                          </div>
                        </div>
                        <%# チャンネル詳細ページ チャンネル削除 モーダル End %>

                      </div>
                    <% end %>
                  </div>
                  <div class ="channel-show-buttom-topics-list-right-buttom">
                    <%= topic.text %>
                  </div>
                  <div class ="channel-show-buttom-topics-list-right-line">
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <%# ユーザー詳細ページ 各コンテンツ一覧 Start %>

    </div>
  </div>
  <%# チャンネル詳細ページ  End %>

</div>
<%# チャンネル 共通 Start %>