<%# モーダル表示時バックグランド %>
<div class="overlay"></div>
<%# モーダル表示時バックグランド %>
<%# モーダル %>
<div class ="channel-box-modal">
  <div class ="channel-box-modal-title">
    チャンネルを退出しますか？
  </div>
  <div class ="channel-box-modal-button">
      <%= link_to 'Yes', root_path, class:"channel-box-modal-button-y" %>
    <div class ="channel-box-modal-button-n">
      No
    </div>
  </div>
</div>
<%# モーダル %>
<div class = "channel">
  <%= render "shared/left-content" %>
  <div class = "channel-right-content" >
    <div class = "channel-top">
      <div class = "channel-top-background">
        <%= image_tag @channel.channel_background_image, class:"channel-top-background-image" %>
        <div class ="channel-top-box">
          <div class = "channel-top-box-image2">
            <%= image_tag @channel.channel_main_image ,class: "channel-top-box-main-image"%>
          </div>
          <div class ="channel-top-box-name">
            <%= @channel.name %>
          </div>
          <div class= "channel-top-box-id">
            <%= @channel.identification %>
          </div>
        </div>
      </div>
      <% if @channel.administrators.include?(current_user) %>
          <%= link_to "編集", edit_channel_path(@channel.id) ,class:"channel-top-edit" %>
      <% end %>
    </div>
    <div class ="channel-content">
      <div class ="channel-profile">
        <%= image_tag 'channel/index/profile.svg',class:"channel-profile-image" %>
        <div class = "channel-profile-content">
          <div class = "channel-profile-title">
            紹介文
          </div>
          <div class ="channel-profile-text">
            <%= @channel.introduction %>
          </div>
        </div>
      </div>
      <div class ="channel-Administrator">
        <div class ="channel-Administrator-title">
          管理者
        </div>
        <div class ="channel-Administrator-user">
          <ul class = "channel-Administrator-user-lists">
            <% @administrators.each do |administrator| %>
                <li class ="channel-Administrator-user-list">
                  <%= link_to user_path(administrator) do %>
                  <div class = "channel-Administrator-userimage">
                    <%= image_tag administrator.profile_image, class:"channel-Administrator-user-frofile-image" %>
                  </div>
                  <div class ="channel-Administrator-username">
                    <%= administrator.name %>
                  </div>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class ="channel-participant">
        <div class ="channel-participant-title">
          参加者
        </div>
        <div class ="channel-participant-user">
          <ul class = "channel-participant-user-lists">
            <% @channel_users.each do |user| %>
              <li class ="channel-participant-user-list">
                <%= link_to user_path(user.user.id) do %>
                <div class = "channel-participant-userimage">
                  <%= image_tag user.user.profile_image, class:"channel-Administrator-user-frofile-image" %>
                </div>
                <div class ="channel-participant-username">
                  <%= user.user.name %>
                </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class ="channel-event">
        <div class ="channel-event-title">
          イベント
        </div>
        <ul class ="channel-event-lists">
          <% @events.each do |event| %>
            <li class ="channel-event-list">
              <div class ="channel-event-list-box">
                <div class ="channel-event-box-date">
                  <%= event.date_start %>
                </div>
                <div class ="channel-event-box-name">
                  <%= event.name %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class ="channel-topics">
        <div class ="channel-topics-title">
          News&Topics
        </div>
        <div class ="channel-topics-content">
          <ul class ="channel-topics-content-lists">
            <li class ="channel-topics-content-list">
              <div class ="channel-topics-content-list-left">
                <div class ="channel-topics-content-list-image">
                </div>
              </div>
              <div class ="channel-topics-content-list-right">
                <div class ="channel-topics-content-list-top">
                  <div class ="channel-topics-content-list-top-name">
                    松原裕太
                  </div>
                  <div class ="channel-topics-content-list-top-time">
                    17:42
                  </div>
                </div>
                <div class ="channel-topics-content-list-center">
                  <div class ="channel-topics-content-list-center-title">
                    タイトル
                  </div>
                  <div class ="channel-topics-content-list-center-edit">
                    編集
                  </div>
                  <div class ="channel-topics-content-list-center-delete">
                    削除
                  </div>
                </div>
                <div class ="channel-topics-content-list-buttom">
                  投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。
                </div>
                <div class ="channel-topics-content-list-line">
                </div>
              </div>
            </li>
            <li class ="channel-topics-content-list">
              <div class ="channel-topics-content-list-left">
                <div class ="channel-topics-content-list-image">
                </div>
              </div>
              <div class ="channel-topics-content-list-right">
                <div class ="channel-topics-content-list-top">
                  <div class ="channel-topics-content-list-top-name">
                    松原裕太
                  </div>
                  <div class ="channel-topics-content-list-top-time">
                    17:42
                  </div>
                </div>
                <div class ="channel-topics-content-list-center">
                  <div class ="channel-topics-content-list-center-title">
                    タイトル
                  </div>
                  <div class ="channel-topics-content-list-center-edit">
                    編集
                  </div>
                  <div class ="channel-topics-content-list-center-delete">
                    削除
                  </div>
                </div>
                <div class ="channel-topics-content-list-buttom">
                  投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。投稿文がはいります。
                </div>
                <div class ="channel-topics-content-list-line">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>