<%# 新規会員登録 Start %>
<div class = "form-center">

<%# 新規会員登録フォーム Start %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { multipart: true }) do |f| %>
    <div class ="form-back">
      <%= link_to '< 戻る', new_user_session_path, class:"form-back-text" %>
    </div>
    <div class ="form-title-center">
      新規会員登録
    </div>

    <%# 新規会員登録フォーム エラー Start %>
    <div class = "form-error">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <%# 新規会員登録フォーム エラー End %>

    <%# 新規会員登録フォーム 画像・名前 Start %>
    <div class= "form-beside">
      <div class="form-beside-field">
        <% f.label :image,class:"form-field-label" %>
        <div class = "form-field-firstimage">
          <%= f.file_field :profile_image, class:"form-field-firstimage-image" %>
          <span class="form-field-firstimage-custom", id="user-profile-image"></span>
          <%= image_tag 'user/registrations/photo-button.png',class:"form-field-firstimage-button" %>
        </div>
      </div>
      <div class="form-beside-field">
        <%= f.label :name, "名前",class:"form-field-label" %><br />
        <%= f.text_field :name, placeholder:"名前を入力してください", autofocus: true, autocomplete: "name",class:"form-field-string-name" %>
      </div>
    </div>
    <%# 新規会員登録フォーム 画像・名前 End %>

    <%# 新規会員登録フォーム その他 Start %>
    <div class = "form-vertical">
      <div class = "form-vertical-field">
        <%= f.label :email, "メールアドレス",class:"form-field-label" %>
        <%= f.email_field :email, placeholder:"メールアドレスを入力してください", autocomplete: "email", class:"form-field-string" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :password, "パスワード",class:"form-field-label" %>
        <%= f.password_field :password, placeholder:"パスワードを入力してください", autocomplete: "new-password", class:"form-field-string" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :password_confirmation, "確認用",class:"form-field-label" %>
        <%= f.password_field :password_confirmation, placeholder:"確認のため、もう一度パスワードを入力してください", autocomplete: "new-password", class:"form-field-string" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :gender, "性別",class:"form-field-label" %>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"form-field-select"}) %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :age, "年齢",class:"form-field-label" %>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"form-field-select"}) %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :birthday, "誕生日",class:"form-field-label" %>
        <%= f.date_field :birthday, class:"form-field-calendar" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :mbti, "MBTI",class:"form-field-label" %>
        <%= f.collection_select(:mbti_id, Mbti.all, :id, :name, {}, {class:"form-field-select"}) %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :line, "LINE ID",class:"form-field-label" %>
        <%= f.text_field :line, placeholder:"LINE IDを入力してください", autocomplete: "line",class:"form-field-string" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :paypay, "PayPay ID",class:"form-field-label" %>
        <%= f.text_field :paypay, placeholder:"PayPay IDを入力してください", autocomplete: "paypay",class:"form-field-string" %>
      </div>
      <div class="form-vertical-field">
        <%= f.label :image, "背景画像",class:"form-field-label" %>
        <div class = "form-field-secondimage">
          <%= f.file_field :background_image, class:"form-field-secondimage-image" %>
          <span class="form-field-secondimage-custom", id="user-backgroundimage-image"></span>
          <%= image_tag 'user/registrations/photo-button.png',class:"form-field-secondimage-button" %>
        </div>
      </div>
      <div class="form-vertical-field">
        <%= f.label :profile, "プロフィール",class:"form-field-label" %>
        <%= f.text_area :profile, placeholder:"プロフィールを入力してください", autocomplete: "profile",class:"form-field-text" %>
      </div>
    </div>
    <%# 新規会員登録フォーム その他 End %>

    <%# 新規会員登録フォーム アクション Start %>
    <div class="form-action">
      <%= f.submit "新規登録",class:"form-action-submit"%>
    </div>
    <%# 新規会員登録フォーム アクション End %>

  <% end %>
  <%# 新規会員登録フォーム End %>

</div>
<%# 新規会員登録 End %>