<%# チャンネル ログアウト モーダル Start %>
<%= render "shared/channel_left_modal" %>
<%# チャンネル ログアウト モーダル End %>

<%# チャンネル 共通 Start %>
<div class = "channel">

  <%# チャンネル ナビゲーション Start %>
  <%= render "shared/channel_left" %>
  <%# チャンネル ナビゲーション End %>

  <%# News&Topics 新規投稿フォーム Start %>
  <div class = "channel-right">
    <div class = "form-left">
      <%= form_with(model:[@channel ,@topic], local: true) do |f| %>
        
        <%# News&Topics 新規投稿フォーム ヘッダー Start %>
        <div class ="form-back">
          <%= link_to '< 戻る', :back, class:"form-back-text" %>
        </div>
        <div class ="form-title-left">
          News&Topics　新規投稿
        </div>
        <%# News&Topics 新規投稿フォーム ヘッダー End %>

        <%# News&Topics 新規投稿フォーム エラー表示 Start %>
        <div class = "form-error-left">
          <%= render 'shared/error_messages', resource: @topic %>
        </div>
        <%# News&Topics 新規投稿フォーム エラー表示 End %>

        <%# News&Topics 新規投稿フォーム 入力部分 Start %>
        <div class = "form-vertical">
          <div class = "form-vertical-field">
            <%= f.label :title, "タイトル",class:"form-field-label" %>
            <%= f.text_field :title, placeholder:"タイトルを入力してください", autocomplete: "title", class:"form-field-string" %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :text, "投稿文",class:"form-field-label" %>
            <%= f.text_area :text, placeholder:"投稿文を入力してください", autocomplete: "text",class:"form-field-text" %>
          </div>
        </div>
        <%# News&Topics 新規投稿フォーム 入力部分 End %>

        <%# News&Topics 新規投稿フォーム アクション Start %>
        <div class="form-action">
          <%= f.submit "投稿する",class:"form-action-submit"%>
        </div>
        <%# News&Topics 新規投稿フォーム アクション End %>

      <% end %>
    </div>
  </div>
  <%# News&Topics 新規投稿フォーム End %>

</div>
<%# チャンネル 共通 End %>