<%# モーダル表示時バックグランド %>
<div class="overlay"></div>
<%# モーダル表示時バックグランド %>
<%# モーダル %>
<div class ="channel-box-modal">
  <div class ="channel-box-modal-title">
    チャンネルを退出しますか？
  </div>
  <div class ="channel-box-modal-button">
      <%= link_to 'Yes', root_path, class:"channel-box-modal-button-y" %>
    <div class ="channel-box-modal-button-n">
      No
    </div>
  </div>
</div>
<%# モーダル %>

<%# tweet new start %>
<div class ="channel-tweet-new-action" >
  +
</div>
<%# tweet new end %>

<%# tweet modal start %>
<div class ="channel-tweet-modal">
  <div class ="channel-tweet-modal-back">
    ×
  </div>
  <div class ="channel-tweet-modal-content">
    <%= form_with model:[@channel, @tweet], local: true do |f| %>
      <div class = "error">
        <%= render "shared/error_messages", resource: @channel %>
      </div>
      <%= f.text_area :text, placeholder:"投稿文を入力してください", autocomplete: "text",class:"channel-tweet-modal-content-text" %>
      <div class ="channel-tweet-modal-content-buttom">
        <div class ="channel-tweet-modal-content-images">
          <div class ="channel-tweet-modal-content-images-input">
            <div class ="channel-tweet-modal-content-images-input-plus">
              +
            </div>
            <div class ="channel-tweet-modal-content-images-input-add">
              Add
            </div>
          </div>
          <%= f.file_field :tweet_image, class:"tweet-image-input", id:"tweet-image" %>
          <span class="custom-tweet-image", id="tweet-previews"></span>
          <div class ="channel-tweet-modal-content-images-image", id = "tweet-previews"></div>
        </div>
      <%= image_submit_tag 'tweet/index/tweet.svg', class: "channel-tweet-modal-content-botton-image",id: "tweet-submit" %>
      </div>
    <% end %>
  </div>
</div>
<%# tweet modal end %>
<div class = "channel">
  <%= render "shared/left-content" %>
  <div class = "channel-right-content" >
    <div class ="chanel-tweet">
      
<%# tweet leftContents start %>
  <%= render "shared/tweet-left-content" %>
<%# tweet leftContents end %>
<%# tweet rightContents start %>
      <div class ="chanel-tweet-right">
        <div class ="chanel-tweet-right-tweets">
          <% @tweets.each do |tweet| %>
            <div class ="chanel-tweet-right-tweet">
              <% if tweet.channel_user&.user&.profile_image.present? %>
                <%= image_tag(tweet.channel_user.user.profile_image, class: "chanel-tweet-right-tweet-userimage") %>
              <% end %>
              <div class ="chanel-tweet-right-tweet-content">
                <div class ="chanel-tweet-right-tweet-content-top">
                  <div class ="chanel-tweet-right-tweet-content-top-username">
                    <%= tweet.channel_user.user.name %>
                  </div>
                  <div class ="chanel-tweet-right-tweet-content-top-date">
                    <%= tweet.created_at %>
                  </div>
                </div>
                <div class ="chanel-tweet-right-tweet-content-text">
                  <%= tweet.text %>
                </div>
                <div class ="chanel-tweet-right-tweet-content-buttom">
                  <% if tweet.tweet_image.attached? %>
                   <%= image_tag(tweet.tweet_image, class: "chanel-tweet-right-tweet-content-buttom-image") %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# tweet rightContents end %>