<%# チャンネル ログアウト モーダル Start %>
<%= render "shared/channel_left_modal" %>
<%# チャンネル ログアウト モーダル End %>

<%# チャンネル 共通 Start %>
<div class = "channel">

  <%# チャンネル ナビゲーション Start %>
  <%= render "shared/channel_left" %>
  <%# チャンネル ナビゲーション End %>

  <%# ユーザー編集フォーム Start %>
  <div class = "channel-right">
    <div class = "form-left">
      <%= form_with(model:@user, local: true) do |f| %>
        
        <%# ユーザー編集フォーム ヘッダー Start %>
        <div class ="form-back">
          <%= link_to '< 戻る', user_path(params[:id]), class:"form-back-text" %>
        </div>
        <div class ="form-title-left">
          プロフィール　編集
        </div>
        <%# ユーザー編集フォーム ヘッダー End %>

        <%# ユーザー編集フォーム エラー表示 Start %>
        <div class = "form-error">
          <%= render "devise/shared/error_messages", resource: @user %>
        </div>
        <%# ユーザー編集フォーム エラー表示 End %>

        <%# ユーザー編集フォーム 画像・名前部分 Start %>
        <div class= "form-beside">
          <div class="form-beside-field">
            <% f.label :image,class:"form-field-label" %>
            <div class = "form-field-firstimage">
              <%= f.file_field :profile_image, class:"form-field-firstimage-image" %>
              <span class="form-field-firstimage-custom", id="user-profile-image"></span>
              <%= image_tag 'user/registrations/photo-button.png',class:"form-field-firstimage-button" %>
            </div>
          </div>
          <div class="form-beside-field">
            <%= f.label :name, "名前",class:"form-field-label" %><br />
            <%= f.text_field :name, placeholder:"名前を入力してください", autofocus: true, autocomplete: "name",class:"form-field-string-name" %>
          </div>
        </div>
        <%# ユーザー編集フォーム 画像・名前部分 End %>

        <%# ユーザー編集フォーム その他 Start %>
        <div class = "form-vertical">
          <div class = "form-vertical-field">
            <%= f.label :email, "メールアドレス",class:"form-field-label" %>
            <%= f.email_field :email, placeholder:"メールアドレスを入力してください", autocomplete: "email", class:"form-field-string" %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :password, "パスワード",class:"form-field-label" %>
            <%= f.password_field :password, placeholder:"パスワードを入力してください", autocomplete: "new-password", class:"form-field-string" %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :password_confirmation, "確認用",class:"form-field-label" %>
            <%= f.password_field :password_confirmation, placeholder:"確認のため、もう一度パスワードを入力してください", autocomplete: "new-password", class:"form-field-string" %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :gender, "性別",class:"form-field-label" %>
            <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"form-field-select"}) %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :age, "年齢",class:"form-field-label" %>
            <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"form-field-select"}) %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :birthday, "誕生日",class:"form-field-label" %>
            <%= f.date_field :birthday, class:"form-field-calendar" %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :mbti, "MBTI",class:"form-field-label" %>
            <%= f.collection_select(:mbti_id, Mbti.all, :id, :name, {}, {class:"form-field-select"}) %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :line, "LINE ID",class:"form-field-label" %>
            <%= f.text_field :line, placeholder:"LINE IDを入力してください", autocomplete: "line",class:"form-field-string" %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :paypay, "PayPay ID",class:"form-field-label" %>
            <%= f.text_field :paypay, placeholder:"PayPay IDを入力してください", autocomplete: "paypay",class:"form-field-string" %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :image, "背景画像",class:"form-field-label" %>
            <div class = "form-field-secondimage">
              <%= f.file_field :background_image, class:"form-field-secondimage-image" %>
              <span class="form-field-secondimage-custom", id="user-backgroundimage-image"></span>
              <%= image_tag 'user/registrations/photo-button.png',class:"form-field-secondimage-button" %>
            </div>
          </div>
          <div class="form-vertical-field">
            <%= f.label :profile, "プロフィール",class:"form-field-label" %>
            <%= f.text_area :profile, placeholder:"プロフィールを入力してください", autocomplete: "profile",class:"form-field-text" %>
          </div>
        </div>
        <%# ユーザー編集フォーム その他 End %>

        <%# ユーザー編集フォーム アクション Start %>
        <div class="form-action">
          <%= f.submit "更新する",class:"form-action-submit"%>
          <div class="form-action-delete">
            削除する
          </div>

          <%# ユーザー編集フォーム ユーザー削除 モーダル Start %>
          <div class ="modal" id = "modal-user-delete">
            <div class= "modal-box">
              <div class ="modal-box-title">
                本当に削除しますか？
              </div>
              <div class ="modal-actions">
                <%= link_to 'Yes', user_path(@user.id), data: { turbo_method: :delete }, class:"modal-actions-y" %>
                <div class ="modal-actions-n">
                  No
                </div>
              </div>
            </div>
          </div>
          <%# ユーザー編集フォーム ユーザー削除 モーダル Start %>

        </div>
        <%# ユーザー編集フォーム アクション End %>

      <% end %>
    </div>
  </div>
  <%# ユーザー編集フォーム End %>

</div>
<%# チャンネル 共通 End %>