<%# チャンネル ログアウト モーダル Start %>
<%= render "shared/channel_left_modal" %>
<%# チャンネル ログアウト モーダル End %>

<%# チャンネル 共通 Start %>
<div class = "channel">

  <%# チャンネル ナビゲーション Start %>
  <%= render "shared/channel_left" %>
  <%# チャンネル ナビゲーション End %>

  <%# ユーザー詳細ページ  Start %>
  <div class = "channel-right">
    <div class = "channel-user">

      <%# ユーザー詳細ページ ヘッダー Start %>
      <div class = "channel-user-top">
        <%= image_tag @user.background_image.presence || 'common/noimage.png', class:"channel-show-top-background"%>
        <div class ="channel-user-top-user">
          <%= image_tag @user.profile_image.presence || 'common/noimage.png' ,class: "channel-show-top-user-image" %>
          <div class ="channel-user-top-user-name">
            <%= @user.name %>
          </div>
          <div class= "channel-user-top-user-email">
            <%= @user.email %>
          </div>
        </div>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to "編集", edit_user_path(@user.id) ,class:"channel-user-top-user-edit" %>
        <% end %>
      </div>
      <%# ユーザー詳細ページ ヘッダー End %>

      <%# ユーザー詳細ページ プロフィール部分 Start %>
      <div class ="channel-user-buttom">
        <ul class ="channel-user-buttom-columns">
          <li class ="channel-user-buttom-column">
            <%= image_tag 'user/show/gender.svg',class:"channel-user-buttom-column-image" %>
            <div class = "channel-user-buttom-column-content">
              <div class = "channel-user-buttom-column-content-title">
                性別
              </div>
              <div class ="channel-user-buttom-column-content-string">
                <% if @user.gender.present? %>
                  <%= @user.gender.name %>
                <% end %>
              </div>
            </div>
          </li>
          <li class ="channel-user-buttom-column">
            <%= image_tag 'user/show/age.svg',class:"channel-user-buttom-column-image" %>
            <div class = "channel-user-buttom-column-content">
              <div class = "channel-user-buttom-column-content-title">
                年齢
              </div>
              <div class ="channel-user-buttom-column-content-string">
                <% if @user.age.present? %>
                  <%= @user.age.name %>
                <% end %>
              </div>
            </div>
          </li>
          <li class ="channel-user-buttom-column">
            <%= image_tag 'user/show/birthday.svg',class:"channel-user-buttom-column-image" %>
            <div class = "channel-user-buttom-column-content">
              <div class = "channel-user-buttom-column-content-title">
                誕生日
              </div>
              <div class ="channel-user-buttom-column-content-string">
                <% if @user.birthday.present? %>
                <%= @user.birthday.strftime('%Y年%m月%d日') + '(' + %w(日 月 火 水 木 金 土)[@user.birthday.wday] + ')' %>
                <% end %>
              </div>
            </div>
          </li>
          <li class ="channel-user-buttom-column">
            <%= image_tag 'user/show/mbti.svg',class:"channel-user-buttom-column-image" %>
            <div class = "channel-user-buttom-column-content">
              <div class = "channel-user-buttom-column-content-title">
                MBTI
              </div>
              <div class ="channel-user-buttom-column-content-string">
                <% if @user.mbti.present? %>
                <%= @user.mbti.name %>
                <% end %>
              </div>
            </div>
          </li>
          <li class ="channel-user-buttom-column">
            <%= image_tag 'user/show/line.svg',class:"channel-user-buttom-column-image" %>
            <div class = "channel-user-buttom-column-content">
              <div class = "channel-user-buttom-column-content-title">
                LINE ID
              </div>
              <div class ="channel-user-buttom-column-content-string">
                <% if @user.line.present? %>
                <%= @user.line %>
                <% end %>
              </div>
            </div>
          </li>
          <li class ="channel-user-buttom-column">
            <%= image_tag 'user/show/paypay.svg',class:"channel-user-buttom-column-image" %>
            <div class = "channel-user-buttom-column-content">
              <div class = "channel-user-buttom-column-content-title">
                PayPay ID
              </div>
              <div class ="channel-user-buttom-column-content-string">
                <% if @user.paypay.present? %>
                <%= @user.paypay %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
        <div class ="channel-user-buttom-profile">
          <%= image_tag 'user/show/profile.svg',class:"channel-user-buttom-profile-image" %>
          <div class = "channel-user-buttom-profile-content">
            <div class = "channel-user-buttom-profile-content-title">
              プロフィール
            </div>
            <div class ="channel-user-buttom-profile-content-string">
              <% if @user.profile.present? %>
              <%= @user.profile %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%# ユーザー詳細ページ プロフィール部分 End %>

  </div>
  <%# ユーザー詳細ページ End %>

</div>
<%# チャンネル 共通 Start %>