<%# モーダル表示時バックグランド %>
<div class="overlay"></div>
<%# モーダル表示時バックグランド %>

<%= render "shared/channel_box_modal" %>
<div class = "channel">
  <%= render "shared/left-content" %>
  <div class = "channel-right-content" >
    <div class = "channel-top">
      <div class = "channel-top-background">
        <% if @user&.background_image.present? %>
          <%= image_tag @user.background_image, class:"channel-top-background-image" %>
        <% end %>
        <div class ="channel-top-box">
          <div class = "channel-top-box-image2">
            <% if @user&.profile_image.present? %>
              <%= image_tag @user.profile_image ,class: "channel-top-box-main-image"%>
            <% end %>
          </div>
          <div class ="channel-top-box-name">
            <%= @user.name %>
          </div>
          <div class= "channel-top-box-id">
            <%= @user.email %>
          </div>
        </div>
      </div>
      <% if user_signed_in? && current_user.id == @user.id %>
        <div class ="channel-top-edit">
          <%= link_to "編集", edit_user_path(@user.id) %>
        </div>
      <% end %>
    </div>
    <div class ="channel-user">
      <div class ="channel-user-columns">
        <div class ="channel-user-column">
          <%= image_tag 'user/show/gender.svg',class:"channel-user-column-image" %>
          <div class = "channel-user-column-content">
            <div class = "channel-user-column-content-title">
              性別
            </div>
            <div class ="channel-user-column-content-string">
              <%= @user.gender.name %>
            </div>
          </div>
        </div>
        <div class ="channel-user-column">
          <%= image_tag 'user/show/age.svg',class:"channel-user-column-image" %>
          <div class = "channel-user-column-content">
            <div class = "channel-user-column-content-title">
              年齢
            </div>
            <div class ="channel-user-column-content-string">
              <%= @user.age.name %>
            </div>
          </div>
        </div>
        <div class ="channel-user-column">
          <%= image_tag 'user/show/birthday.svg',class:"channel-user-column-image" %>
          <div class = "channel-user-column-content">
            <div class = "channel-user-column-content-title">
              誕生日
            </div>
            <div class ="channel-user-column-content-string">
              <%= @user.birthday %>
            </div>
          </div>
        </div>
      </div>
      <div class ="channel-user-columns">
        <div class ="channel-user-column">
          <%= image_tag 'user/show/mbti.svg',class:"channel-user-column-image" %>
          <div class = "channel-user-column-content">
            <div class = "channel-user-column-content-title">
              MBTI
            </div>
            <div class ="channel-user-column-content-string">
              <%= @user.mbti.name %>
            </div>
          </div>
        </div>
        <div class ="channel-user-column">
          <%= image_tag 'user/show/line.svg',class:"channel-user-column-image" %>
          <div class = "channel-user-column-content">
            <div class = "channel-user-column-content-title">
              LINE ID
            </div>
            <div class ="channel-user-column-content-string">
              <%= @user.line %>
            </div>
          </div>
        </div>
        <div class ="channel-user-column">
          <%= image_tag 'user/show/paypay.svg',class:"channel-user-column-image" %>
          <div class = "channel-user-column-content">
            <div class = "channel-user-column-content-title">
              PayPay ID
            </div>
            <div class ="channel-user-column-content-string">
              <%= @user.paypay %>
            </div>
          </div>
        </div>
      </div>
      <div class ="channel-user-column-profile">
        <%= image_tag 'user/show/profile.svg',class:"channel-user-column-profile-image" %>
        <div class = "channel-user-column-profile-content">
          <div class = "channel-user-column-content-title">
             プロフィール
          </div>
          <div class ="channel-user-column-content-string">
            <%= @user.profile %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>