<div class = "left-content">
  <div class = "left-content-box">
    <h1 class = "logo">
      UnityHub
    </h1>
    <div class = "channel-box">
      <div class = "channel-image1">
        <%= image_tag(@channel.channel_main_image, class: "channel-top-box-main-image-nav") if @channel&.channel_main_image.present? %>
      </div>
      <div class = "channel-name">
        <%= @channel.name %>
      </div>
    </div>
    <div class = "nav">
      <ul class = "nav-lists">
        <%= link_to channel_path(session[:channel_id]) do %>
          <li class = "nav-list">
            <%= image_tag 'channel/index/nav-home.svg',class:"nav-list-image" %>
            <div class = "nav-list-name">
              ホーム
            </div>
          </li>
        <% end %>
        <%= link_to channel_tweets_path(@channel) do %>
          <li class = "nav-list">
            <%= image_tag 'channel/index/nav-tweet.svg',class:"nav-list-image" %>
            <div class = "nav-list-name">
              ツイート
            </div>
          </li>
        <% end %>
        <%= link_to channel_events_path(@channel) do %>
        <li class = "nav-list">
          <%= image_tag 'channel/index/nav-calendar.svg',class:"nav-list-image" %>
          <div class = "nav-list-name">
            カレンダー
          </div>
        </li>
        <% end %>
        <%= link_to channel_albums_path(@channel) do %>
          <li class = "nav-list">
            <%= image_tag 'channel/index/nav-album.svg',class:"nav-list-image" %>
            <div class = "nav-list-name">
              アルバム
            </div>
          </li>
        <% end %>
        <%= link_to user_path(current_user.id) do %>
          <li class = "nav-list">
            <%= image_tag 'channel/index/nav-profile.svg',class:"nav-list-image" %>
            <div class = "nav-list-name">
              プロフィール
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class ="post">
      <ul class = "post-lists">
        <%= link_to new_channel_topic_path(@channel) do %>
          <li class = "post-list">
            <%= image_tag 'channel/index/post-topics.svg',class:"nav-list-image" %>
            <div class = "nav-list-name">
              News&Topics
            </div>
          </li>
        <% end %>
        <%= link_to new_channel_event_path(@channel) do %>
          <li class = "post-list">
            <%= image_tag 'channel/index/post-event.svg',class:"nav-list-image" %>
            <div class = "nav-list-name">
              イベント申請
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class = "logout">
      <%= image_tag 'channel/index/logout.svg',class:"nav-list-image" %>
      <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-list-name" %>
    </div>
  </div>
</div>
