<%# チャンネル ログアウト モーダル Start %>
<%= render "shared/channel_left_modal" %>
<%# チャンネル ログアウト モーダル End %>

<%# チャンネル 共通 Start %>
<div class = "channel">

  <%# チャンネル ナビゲーション Start %>
  <%= render "shared/channel_left" %>
  <%# チャンネル ナビゲーション End %>

  <%# イベント 編集 Start %>
  <div class = "channel-right">

    <%# イベント 編集フォーム Start %>
    <div class = "form-left">
      <%= form_with(model:[@channel ,@event], local: true) do |f| %>

        <%# イベント 編集フォーム ヘッダー Start %>
        <div class ="form-back">
          <%= link_to '< 戻る', :back, class:"form-back-text" %>
        </div>
        <div class ="form-title-left">
          イベント　編集
        </div>
        <%# イベント 編集フォーム ヘッダー End %>

        <%# イベント 編集フォーム エラー表示 Start %>
        <div class = "form-error-left">
          <%= render 'shared/error_messages', resource: @event %>
        </div>
        <%# イベント 編集フォーム エラー表示 End %>

        <%# イベント 編集フォーム 入力部分 Start %>
        <div class = "form-vertical">
          <div class = "form-vertical-field">
            <%= f.label :name, "イベント名",class:"form-field-label" %>
            <%= f.text_field :name, placeholder:"イベント名を入力してください", autocomplete: "name", class:"form-field-string" %>
          </div>
          <div class = "form-vertical-field">
            <%= f.label :date_start, "日時",class:"form-field-label" %>
            <%= f.date_field :date_start, placeholder:"開始日を選択してください", autocomplete: "date_start", class:"form-field-date" %>
            <div class="form-field-kara">
              ~
            </div>
            <% f.label :date_end, "日時",class:"form-field-label" %>
            <%= f.date_field :date_end, placeholder:"終了日を選択してください", autocomplete: "date_end", class:"form-field-date" %>
          </div>
          <div class = "form-vertical-field">
            <%= f.label :time_start, "時刻",class:"form-field-label" %>
            <%= f.time_field :time_start, placeholder:"開始日を選択してください", autocomplete: "time_start", class:"form-field-time" %>
            <div class="form-field-kara">
              ~
            </div>
            <% f.label :time_end, "日時",class:"form-field-label" %>
            <%= f.time_field :time_end, placeholder:"終了日を選択してください", autocomplete: "time_end", class:"form-field-time" %>
          </div>
          <div class = "form-vertical-field">
            <%= f.label :place, "場所",class:"form-field-label" %>
            <%= f.text_field :place, placeholder:"場所を入力してください", autocomplete: "place", class:"form-field-string" %>
          </div>
          <div class="form-vertical-field">
            <%= f.label :user, "参加者",class:"form-field-label" %>
            <div class = "form-field-users">
              <% @channel_users.each do |channel_user| %>
                <div class="form-field-user">
                  <% checked = @event.channel_event_users.exists?(channel_user_id: channel_user.id) %>
                  <%= check_box_tag "users[]", channel_user.user.id, checked, class: "form-field-user-check", id: "user_#{channel_user.id}" %>
                    <%= image_tag channel_user.user.profile_image.presence || 'common/noimage.png', class:"form-field-user-image" %>
                  <%= label_tag "user_#{channel_user.id}", channel_user.user.name, class: "form-field-user-name" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-vertical-field">
            <%= f.label :detail, "詳細",class:"form-field-label" %>
            <%= f.text_area :detail, placeholder:"詳細を入力してください", autocomplete: "detail",class:"form-field-text" %>
          </div>
        </div>
        <%# イベント 編集フォーム 入力部分 End %>

        <%# イベント 編集フォーム アクション Start %>
        <div class="form-action">
          <%= f.submit "更新する",class:"form-action-submit"%>
          <div class="form-action-delete">
            削除する
          </div>

          <%# イベント 編集フォーム イベント削除 モーダル Start %>
          <div class ="modal" id = "modal-event-delete">
            <div class= "modal-box">
              <div class ="modal-box-title">
                本当に削除しますか？
              </div>
              <div class ="modal-actions">
                <%= link_to 'Yes', channel_event_path(@event.id), data: { turbo_method: :delete }, class:"modal-actions-y" %>
                <div class ="modal-actions-n">
                  No
                </div>
              </div>
            </div>
          </div>
          <%# イベント 編集フォーム イベント削除 モーダル End %>

        </div>
        <%# イベント 編集フォーム アクション End %>
        
      <% end %>
    </div>
    <%# イベント 編集フォーム End %>

  </div>
  <%# イベント 編集 End %>

</div>
<%# チャンネル 共通 End %>