<%# チャンネル ログアウト モーダル Start %>
<%= render "shared/channel_left_modal" %>
<%# チャンネル ログアウト モーダル End %>

<%# チャンネル 共通 Start %>
<div class = "channel">

  <%# チャンネル ナビゲーション Start %>
  <%= render "shared/channel_left" %>
  <%# チャンネル ナビゲーション End %>

  <%# カレンダー Start %>
  <div class = "channel-right">
    <div class = "channel-event">
      <%= month_calendar events: @events, attribute: :date_start do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
          <%= link_to channel_event_path(event.channel, event) do %>
            <div class ="channel-event-list">
              <%= event.name %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%# カレンダー End %>

</div>

<%# イベント 新規作成 Start %>
<%= link_to "+", new_channel_event_path(@channel) ,class:"channel-event-action" %>
<%# イベント 新規作成 End %>