<%# チャンネル ログアウト モーダル Start %>
<%= render "shared/channel_left_modal" %>
<%# チャンネル ログアウト モーダル End %>

<%# チャンネル 共通 Start %>
<div class = "channel">

  <%# チャンネル ナビゲーション Start %>
  <%= render "shared/channel_left" %>
  <%# チャンネル ナビゲーション End %>

  <%# チャット Start %>
  <div class = "channel-right">
    <div class = "channel-chat">
      
      <%# チャット チャット選択 Start %>
      <div class ="chanel-chat-left">
        <%= form_tag channel_chats_path(@channel), method: :get, class: "chanel-chat-left-search" do %>
          <%= text_field_tag :search, params[:search], placeholder: "キーワードを入力してください", class:"chanel-chat-left-search-input" %>
            <div class = "chanel-chat-left-search-button" >
            <%= image_submit_tag 'chat/index/search.svg', class: "chanel-tweet-chat-search-button-image" %>
          </div>
        <% end %>
        <%= link_to new_channel_chat_path(@channel) do %>
          <div class ="chanel-chat-left-action">
            <div class ="chanel-chat-left-action-plus">
              +
            </div>
            <div class ="chanel-chat-left-action-text">
              新規作成
            </div>
          </div>
        <% end %>
        <div class ="chanel-tweet-left-users">
          <% @chats.each do |chat| %>
            <%= link_to channel_chat_path(chat.channel,chat), class:"chanel-chat-left-user" do %>
                <%= image_tag(chat.chat_image.presence || 'common/noimage.png', class: "chanel-chat-left-user-image") %>
              <div class ="chanel-chat-left-user-name">
                <%= chat.name %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <%# チャット チャット選択 End %>

    </div>
  </div>
  <%# チャット End %>

</div>
<%# チャンネル 共通 End %>