<%# チャンネル ログアウト モーダル Start %>
<%= render "shared/channel_left_modal" %>
<%# チャンネル ログアウト モーダル End %>

<%# チャンネル 共通 Start %>
<div class = "channel">

  <%# チャンネル ナビゲーション Start %>
  <%= render "shared/channel_left" %>
  <%# チャンネル ナビゲーション End %>

  <%# アルバム Start %>
  <div class = "channel-right">
    <div class = "channel-album">

      <%# アルバム 検索ボックス Start %>
      <%= form_tag channel_albums_path(@channel), method: :get, class: "chanel-album-search" do %>
        <%= text_field_tag :search, params[:search], placeholder: "キーワードを入力してください", class:"chanel-album-search-input" %>
          <div class = "chanel-album-search-button" >
          <%= image_submit_tag 'album/index/search.svg', class: "chanel-album-search-button-image" %>
        </div>
      <% end %>
      <%# アルバム 検索ボックス End %>

      <%# アルバム 一覧 Start %>
      <div class ="chanel-album-lists">
        <% @albums.each do |album| %>
          <%= link_to channel_album_path(@channel, album) do %>
            <div class ="chanel-album-list">
              <%= image_tag url_for(album.album_images.first) ,class:"chanel-album-list-image" if album.album_images.attached? %>
              <div class ="chanel-album-list-content">
                <div class ="chanel-album-list-content-title">
                  <%= album.title %>
                </div>
                <div class ="chanel-album-list-content-date">
                  <%= album.created_at.strftime('%Y年%m月%d日') + '(' + %w(日 月 火 水 木 金 土)[album.created_at.wday] + ')' %>
                </div>
                <div class ="chanel-album-list-content-sum">
                  <%= album.album_images.count %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%# アルバム 一覧 End %>
      
    </div>
  </div>
  <%# アルバム End %>

</div>
<%# チャンネル 共通 End %>

<%# アルバム 新規作成 Start %>
<%= link_to "+", new_channel_album_path(@channel) ,class:"channel-album-action" %>
<%# アルバム 新規作成 End %>