<%# モーダル表示時バックグランド %>
<div class="overlay"></div>
<%# モーダル表示時バックグランド %>

<%# チャンネル退出 モーダル %>
<%= render "shared/channel_box_modal" %>
<%# チャンネル退出 モーダル %>

<%# コンテンツ %>
<div class = "channel">

  <%# グロナビ %>
  <%= render "shared/left-content" %>
  <%# グロナビ %>

  <%# アルバム新規作成コンテンツ %>
  <div class = "right-content" >
    <div class = "form">
      <div class = "form-back">
        <%= link_to '< 戻る', :back %>
      </div>
      <div class ="form-title">
        アルバム新規作成
      </div>
      <%= form_with(model:[@channel ,@album], local: true) do |f| %>
        <div class = "form-error">
          <%= render "shared/error_messages", resource: @album %>
        </div>
        <div class ="form-contents">
          <div class = "form-labels">
            <div class="form-label">タイトル</div>
            <div class="form-label">画像</div>
          </div>
          <div class = "form-fields">
            <div class="form-field">
              <% f.label :title %>
              <%= f.text_field :title, placeholder:"タイトルを入力してください", autocomplete: "title", class:"form-field-string" %>
            </div>
            <div class="form-field">
              <div class="form-field-images">
                <div class="form-field-image">
                  <% f.label :image %>
                  <%= f.file_field :album_image, name: 'album[album_images][]', data: {index: 0} ,class:"form-field-image-input" %>
                  <span class="form-field-image-custom">+</span>
                </div>
                <div class="form-field-preview"  id = "form-field-preview" >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "作成する",class:"form-actions-new"%>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%# コンテンツ %>