<%# チャンネル ログアウト モーダル Start %>
<%= render "shared/channel_left_modal" %>
<%# チャンネル ログアウト モーダル End %>

<%# チャンネル 共通 Start %>
<div class = "channel">

  <%# チャンネル ナビゲーション Start %>
  <%= render "shared/channel_left" %>
  <%# チャンネル ナビゲーション End %>

  <%# アルバム Start %>
  <div class = "channel-right">
    <div class = "channel-album">
      
      <%# アルバム ヘッダー Start %>
      <div class = "channel-album-back">
        <%= link_to '< 戻る', :back %>
      </div>
      <div class ="channel-album-title">
        <div class ="channel-album-title-name">
            <%= @album.title %>
        </div>
        <%= link_to "編集", edit_channel_album_path(@channel.id, @album) ,class:"channel-album-title-edit"  %>
      </div>
      <div class ="channel-event-date">
        <%= @album.created_at.strftime('%Y年%m月%d日') + '(' + %w(日 月 火 水 木 金 土)[@album.created_at.wday] + ')' %>
      </div>
      <%# アルバム ヘッダー End %>

      <%# アルバム 一覧 Start %>
      <div class="chanel-album-images">
        <% @album.album_images.each do |image| %>
          <%= image_tag image.blob, class: "chanel-album-image" if image.persisted? %>
        <% end %>
      </div>
      <%# アルバム 一覧 End %>
      
    </div>
  </div>
  <%# アルバム Start %>

</div>
<%# チャンネル 共通 Start %>