<%# ログイン Start %>
<div class = "login">
  
  <%# ログインボックス Start %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-box"}) do |f| %>

    <%# ログインボックス ユーザーログイン Start %>
    <div class = "login-box-left">
      <div class = "login-box-left-title">
        <div class = "login-box-left-main">
          LOGIN
        </div>
        <div class = "login-box-left-sub">
          ログイン
        </div>
      </div>
      <div class='login-box-left-error'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div class = "login-box-left-input">
        <div class="login-box-left-input-field">
          <%= f.label :email,"メールアドレス",class:"login-box-left-input-field-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"login-box-left-input-field-string" %>
        </div>
        <div class="login-box-left-input-field">
          <%= f.label :password,"パスワード",class:"login-box-left-input-field-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password",class:"login-box-left-input-field-string" %>
          <% if devise_mapping.rememberable? %>
            <div class="login-box-left-input-remember">
              <%= f.check_box :remember_me, class:"login-box-left-input-remember-checkbox" %>
              <%= f.label :remember_me, "パスワードを記憶する", class:"login-box-left-input-remember-label" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="login-box-left-input-action">
        <%= f.submit "ログイン", class:"login-box-left-input-action-submit" %>
      </div>
    </div>
    <%# ログインボックス ユーザーログイン End %>

    <%# ログインボックス ユーザー新規登録 Start %>
    <div class = "login-box-right">
      <div class = "login-box-right-title">
        <div class = "login-box-right-title-main">
          はじめてご利用の方
        </div>
        <div class = "login-box-right-title-sub">
          ご利用には会員登録が必要です
        </div>
      </div>
      <div class="login-box-right-action">
        <%= link_to "新規会員登録", new_registration_path(resource_name), class:"login-box-right-action-new" %>
      </div>
    </div>
    <%# ログインボックス ユーザー新規登録 End %>
      
  <% end %>
<%# ログインボックス End %>

</div>
<%# ログイン End %>